@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.bg-primary {
	background-color: var(--bs-gray-800) !important;
}

input, button {
	border-radius: var(--bs-enable-rounded, true) !important;
}

section {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	z-index: -1;
	display: flex;
	align-items: center;
	justify-content: center;
}


/* Navbar */
.navbar-brand {
	display: flex;
	align-items: center;
	gap: 0.25em;
}

/* Banner */
.banner {
	color: var(--bs-white);
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/background.jpg");
	background-size: cover;
	background-position: center;
	text-align: center;
	flex-direction: column;
}

.banner h1 {
	font-size: 4rem;
}

.banner p {
	font-family: 'Lato', sans-serif;
	font-size: 1.25rem;
}

/* Login & Registration Page */
.wrapper {
	width: 95%;
}

.wrapper h1 {
	color: var(--bs-white);
	font-weight: 300;
	margin-bottom: 0.5em;
}

.wrapper .form-floating {
	margin-bottom: 1em;
}

.wrapper button {
	margin-right: 1em;
}

.comment {
	display: block;
	color: var(--bs-gray-400);
	text-decoration: none;
	margin-bottom: 1em;
}

.comment:hover {
	color: var(--bs-white);
}

/* Media Queries */
@media (min-width: 768px ) {
	.clip-path {
		clip-path: polygon(0px 0px, 100% 0px, 100% 86%, 30.8% 98.65%, 0px 90%);	
	}
	
	.wrapper {
		width: 40%;
	}
	
	.rows {
	    display: grid;
	    grid-template-columns: repeat(2, 1fr);
	    column-gap: 0.5em;
	}	
	
	.col {
		grid-column: 1/-1;
	}

}


