<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="index::layout(~{::section})">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Home - Phonebook</title>
</head>
<body>
	
	<section class="banner">
		<h1>
			Phonebook
		</h1>
		<p>Go organised, Go paperless. Save your contacts with us and access them wherever you want.</p>
		<button type="button" class="btn btn-light btn-lg">Explore</button>
	</section>
	
</body>
</html>